/* stylelint-disable at-rule-no-deprecated */
/* stylelint-disable at-rule-no-unknown */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

/* stylelint-disable-next-line import-notation */
@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";

  --color-base-100: oklch(96% 0.007 247.896deg);
  --color-base-200: oklch(92% 0.013 255.508deg);
  --color-base-300: oklch(86% 0.022 252.894deg);
  --color-base-content: oklch(27% 0.041 260.031deg);
  --color-primary: oklch(50% 0.134 242.749deg);
  --color-primary-content: oklch(98% 0 0deg);
  --color-secondary: oklch(58% 0.233 277.117deg);
  --color-secondary-content: oklch(96% 0.018 272.314deg);
  --color-accent: oklch(68% 0.169 237.323deg);
  --color-accent-content: oklch(97% 0.013 236.62deg);
  --color-neutral: oklch(50% 0.134 242.749deg);
  --color-neutral-content: oklch(97% 0.013 236.62deg);
  --color-info: oklch(78% 0.154 211.53deg);
  --color-info-content: oklch(30% 0.056 229.695deg);
  --color-success: oklch(76% 0.177 163.223deg);
  --color-success-content: oklch(26% 0.051 172.552deg);
  --color-warning: oklch(75% 0.183 55.934deg);
  --color-warning-content: oklch(26% 0.079 36.259deg);
  --color-error: oklch(70% 0.191 22.216deg);
  --color-error-content: oklch(25% 0.092 26.042deg);
  --radius-selector: 0.6rem;
  --radius-field: 0.6rem;
  --radius-box: 0.6rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";

  --color-base-100: oklch(25.33% 0.016 252.42deg);
  --color-base-200: oklch(23.26% 0.014 253.1deg);
  --color-base-300: oklch(21.15% 0.012 254.09deg);
  --color-base-content: oklch(97.807% 0.029 256.847deg);
  --color-primary: oklch(60% 0.126 221.723deg);
  --color-primary-content: oklch(98% 0.019 200.873deg);
  --color-secondary: oklch(65% 0.241 354.308deg);
  --color-secondary-content: oklch(94% 0.028 342.258deg);
  --color-accent: oklch(77% 0.152 181.912deg);
  --color-accent-content: oklch(38% 0.063 188.416deg);
  --color-neutral: oklch(14% 0.005 285.823deg);
  --color-neutral-content: oklch(92% 0.004 286.32deg);
  --color-info: oklch(74% 0.16 232.661deg);
  --color-info-content: oklch(29% 0.066 243.157deg);
  --color-success: oklch(76% 0.177 163.223deg);
  --color-success-content: oklch(37% 0.077 168.94deg);
  --color-warning: oklch(82% 0.189 84.429deg);
  --color-warning-content: oklch(41% 0.112 45.904deg);
  --color-error: oklch(71% 0.194 13.428deg);
  --color-error-content: oklch(27% 0.105 12.094deg);
  --radius-selector: 0.6rem;
  --radius-field: 0.6rem;
  --radius-box: 0.6rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-noto-sans: "Noto Sans", sans-serif;
  --text-0: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
  --text-1: clamp(1.25rem, 1.1787rem + 0.3566vw, 1.4996rem);
  --text-2: clamp(1.5625rem, 1.4378rem + 0.6236vw, 1.999rem);
  --text-3: clamp(1.9531rem, 1.7498rem + 1.0165vw, 2.6647rem);
  --text-4: clamp(2.4414rem, 2.1241rem + 1.5866vw, 3.552rem);
  --text-c0: clamp(1rem, 0.9643rem + 0.1786cqi, 1.125rem);
  --text-c1: clamp(1.25rem, 1.1787rem + 0.3566cqi, 1.4996rem);
  --text-c2: clamp(1.5625rem, 1.4378rem + 0.6236cqi, 1.999rem);
  --text-c3: clamp(1.9531rem, 1.7498rem + 1.0165cqi, 2.6647rem);
  --text-c4: clamp(2.4414rem, 2.1241rem + 1.5866cqi, 3.552rem);
  --spacing-xs: clamp(0.5rem, 0.4821rem + 0.0893vw, 0.5625rem);
  --spacing-s: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
  --spacing-m: clamp(1.5rem, 1.4464rem + 0.2679vw, 1.6875rem);
  --spacing-l: clamp(2rem, 1.9286rem + 0.3571vw, 2.25rem);
  --spacing-xl: clamp(2.5rem, 2.4107rem + 0.4464vw, 2.8125rem);
  --spacing-2xl: clamp(3rem, 2.8929rem + 0.5357vw, 3.375rem);
  --spacing-xs-s: clamp(0.5rem, 0.3214rem + 0.8929vw, 1.125rem);
  --spacing-s-m: clamp(1rem, 0.8036rem + 0.9821vw, 1.6875rem);
  --spacing-m-l: clamp(1.5rem, 1.2857rem + 1.0714vw, 2.25rem);
  --spacing-l-xl: clamp(2rem, 1.7679rem + 1.1607vw, 2.8125rem);
  --spacing-xl-2xl: clamp(2.5rem, 2.25rem + 1.25vw, 3.375rem);
  --spacing-s-l: clamp(1rem, 0.6429rem + 1.7857vw, 2.25rem);
  --spacing-s-xl: clamp(1rem, 0.4821rem + 2.5893vw, 2.8125rem);
  --spacing-m-xl: clamp(1.5rem, 1.125rem + 1.875vw, 2.8125rem);
  --spacing-xs-l: clamp(0.5rem, 0rem + 2.5vw, 2.25rem);
  --spacing-xs-xl: clamp(0.5rem, -0.1607rem + 3.3036vw, 2.8125rem);
  --blur-scale: 1px;
  --container-0: 0px;
}

@layer base {
  * {
    line-height: calc(1em + 0.55rem);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    min-height: 100%;
    font-family: var(--font-noto-sans);
    color: var(--color-base-content);
    background: var(--color-base-100);
  }

  h1 {
    font-family: var(--font-outfit);
    font-size: var(--text-4);
    font-weight: 600;
  }

  h2 {
    font-family: var(--font-outfit);
    font-size: var(--text-3);
    font-weight: 500;
  }

  h3 {
    font-family: var(--font-outfit);
    font-size: var(--text-2);
    font-weight: 500;
  }

  h4 {
    font-family: var(--font-outfit);
    font-size: var(--text-1);
    font-weight: 500;
  }

  p,
  a {
    font-size: var(--font-0);
    font-weight: 400;
  }
}

@layer components {
  .container {
    width: 100%;
    max-width: min(95%, 1440px);
    padding: 0 var(--spacing-xs-xl);
    margin: 0 auto;
  }

  #overlay {
    position: fixed;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(2px);
    transition: all 500ms ease-in-out;
  }

  header {
    position: sticky;
    top: 0;
    z-index: 15;
    height: 4rem;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;

      .menu-bar {
        display: none;
      }

      #navbar {
        display: flex;
        gap: var(--spacing-s);
        align-items: center;

        a {
          text-transform: uppercase;

          &:hover {
            color: var(--color-primary);
          }
        }
      }
    }
  }

  @media (width <= 1024px) {
    header {
      position: sticky;

      .container {
        height: 100%;
        background: inherit;

        .menu-bar {
          display: flex;
          align-items: center;
          justify-content: center;
          width: auto;
          height: 100%;
          aspect-ratio: 1/1;
          cursor: pointer;

          .icon {
            width: 80%;
            height: 80%;
            margin: auto;
            outline: 3px solid var(--color-base-300);
            border-radius: var(--spacing-xs);
          }
        }

        #navbar {
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 11;
          flex-direction: column;
          width: 100%;
          padding: var(--spacing-s);
          background: inherit;
          clip-path: inset(0 0 100% 0);
          transition: clip-path 500ms ease-in-out;

          @apply shadow-md;

          a {
            text-align: center;
          }
        }

        #navbar.open {
          clip-path: inset(0);
        }

        #navbar.open ~ #overlay {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  #sidebar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 100vh;
    padding: 0.65rem;
    overflow: hidden;
    background: var(--color-base-200);
    transition: width 500ms ease-in-out;
  }

  #sidebar .logo,
  #sidebar .theme-toggler,
  #sidebar .nav-link {
    display: flex;
    gap: var(--spacing-s);
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    border-radius: var(--radius-xl);
  }

  #sidebar ul li > .nav-link:hover {
    color: var(--color-primary-content);
    cursor: pointer;
    background: var(--color-primary);
  }

  #sidebar .icon {
    flex-shrink: 0;
    width: 28px;
    height: 28px;
  }

  #sidebar .icon:last-child {
    margin-left: auto;
  }

  #sidebar .text {
    flex-grow: 1;
    font-size: var(--text-0);
  }

  #sidebar ul.heading {
    height: 4rem;
  }

  #sidebar ul.navigations {
    margin-top: 1rem;
  }

  #sidebar ul.settings {
    margin-top: auto;
  }

  #sidebar ul.heading li > div {
    align-items: center;
    justify-content: flex-end;
    height: 64px;
  }

  #sidebar ul.heading .icon {
    cursor: pointer;
  }

  #sidebar.collapsed {
    width: 4rem;
  }

  @media (width <= 1024px) {
    #sidebar {
      position: fixed;
      top: 4rem;
      left: 0;
      z-index: 15;
      width: 50vw;
      height: calc(100vh - 4rem);
      transition: left 500ms ease-in-out;
    }

    #sidebar.collapsed {
      left: -55vw;
      width: 50vw;
    }

    #sidebar ul.heading {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: inherit;
    }

    #sidebar .logo {
      padding-inline: 1.25rem;
    }

    #sidebar:not(.collapsed) ~ #overlay {
      visibility: visible;
      opacity: 1;
    }
  }

  #hero .banner-wrapper::before {
    position: absolute;
    inset: 0;
    content: "";
  }

  .about-img {
    position: relative;
    max-width: 28vw;
    border-radius: 50%;

    &::before,
    &::after {
      position: absolute;
      inset: -3px;
      z-index: 1;
      content: "";
      background: conic-gradient(
        transparent,
        transparent,
        transparent,
        var(--color-accent)
      );
      border-radius: inherit;
      animation: rotate 2.5s ease-in-out infinite;
    }

    &::after {
      filter: blur(15px);
    }

    img {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background: var(--color-base-100);
      border-radius: inherit;
    }
  }

  @media (width <= 1024px) {
    .about-img {
      max-width: 64vw;
    }
  }

  .card:hover {
    box-shadow: 0 0 8px -1px rgb(0 0 0 / 30%);
  }

  .swiper-slide {
    aspect-ratio: 16/9;
  }

  .img-wrapper::before {
    position: absolute;
    inset: 0;
    z-index: 2;
    visibility: hidden;
    content: "";
    border-radius: inherit;
    opacity: 0;
    backdrop-filter: blur(2px);
    transition: all 500ms ease-in-out;
  }

  .swiper-slide h4 {
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: all 500ms ease-in-out;
  }

  .swiper-slide img {
    transition: 1s ease-in-out;
  }

  .swiper-slide:hover {
    .img-wrapper::before {
      visibility: visible;
      opacity: 1;
    }

    h4 {
      visibility: visible;
      opacity: 1;
    }

    img {
      scale: 1.25;
    }
  }

  .project-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 1rem;
  }

  .project-wrapper .card figure {
    aspect-ratio: 16/9;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .alert {
    visibility: hidden;
    opacity: 0;
    scale: 80%;
    transition: all 300ms ease-in-out;
  }

  .alert.show {
    visibility: visible;
    opacity: 1;
    scale: 1;
  }
}

@layer utilities {
  .input {
    background: transparent;
  }

  /* stylelint-disable-next-line no-duplicate-selectors */
  .input {
    &:focus,
    &:focus-within {
      z-index: 1;
      outline: none;
      outline-offset: 0;
      isolation: isolate;
    }
  }

  .project-wrapper .card-body .card-title {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .project-wrapper .card-body p {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .project-body {
    ul,
    ol {
      list-style-type: disc;

      li {
        margin-left: 1em;
        font: inherit;
      }
    }

    a {
      color: var(--color-primary);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .alert-info {
    color: var(--color-info-content);
    border-color: var(--color-info);

    --alert-color: var(--color-info);
  }

  .alert-success {
    color: var(--color-success-content);
    border-color: var(--color-success);

    --alert-color: var(--color-success);
  }

  .alert-error {
    color: var(--color-error-content);
    border-color: var(--color-error);

    --alert-color: var(--color-error);
  }

  .alert-warning {
    color: var(--color-warning-content);
    border-color: var(--color-warning);

    --alert-color: var(--color-warning);
  }
}

.ql-toolbar.ql-snow {
  font-family: inherit;
  border-radius: var(--radius-field);
}

.ql-container.ql-snow {
  min-height: calc(5 * calc(1em + 0.5rem));

  .ql-editor {
    max-height: 50vh;
    padding: 0.75rem;
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 300;

    h1 {
      font-size: 1.75rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.25rem;
    }

    p {
      font: inherit;
    }
  }
}

:root {
  --swiper-pagination-color: var(--color-accent);
  --swiper-pagination-bullet-inactive-color: var(--color-base-300);
  --swiper-pagination-bullet-inactive-opacity: 0.8;
}

.quill .ql-toolbar.ql-snow + .ql-container.ql-snow {
  border: 1px solid var(--color-base-content);
  border-top: 1px;
  border-radius: var(--radius-field);
}

.typewriter {
  position: relative;
  min-height: calc(1em + 0.65rem);

  &::after {
    position: absolute;
    width: 3px;
    height: 100%;
    content: "";
    background: #fff;
    border-radius: 20px;
    animation: blink 1.5s ease-in-out infinite;
  }
}

@keyframes blink {
  0%,
  100% {
    clip-path: inset(50% 0 50% 0);
  }

  50% {
    clip-path: inset(0% 0 0% 0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#education,
#experiences {
  position: relative;
  margin: 0 auto;
}

#education .container,
#experiences .container {
  position: relative;
  z-index: 0;
  margin: 0 auto;
}

#education .container h2,
#experiences .container h2 {
  text-align: center;
}

.edu-container,
.expe-container {
  position: relative;
  margin: 0 auto;
}

.timeline-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.timeline-progress {
  position: absolute;
  top: 1rem;
  left: 50%;
  width: 3px;
  height: 95%;
  background: var(--color-base-content);
  border-radius: 100px;
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 150px 1fr;
  grid-auto-columns: 1fr;
  grid-gap: 0;
  padding: 80px 0;
}

.timeline-item p.tagline {
  font-style: italic;
  font-weight: 500;
}

.timeline-left {
  align-items: stretch;
  justify-content: center;
  text-align: center;
}

.timeline-date {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
}

.timeline-center {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.timeline-circle {
  position: sticky;
  top: 50%;
  width: 100%;
  max-width: 50px;
  height: auto;
  max-height: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transform: translateY(-50%);
}

.timeline-circle.edu.ut {
  background: var(--color-bg);
}

.timeline-circle.expe img {
  border: 2px solid var(--color-base-content);
  border-radius: 50%;
}

@media (width <= 1024px) {
  #education .container h2,
  #experiences .container h2 {
    text-align: left;
  }

  .timeline-progress {
    left: 0;
  }

  .timeline-circle {
    top: 50%;
    left: 0;
    max-width: 5dvw;
    max-height: 5dvw;
    transform: translate(-50%, -50%);
  }

  .timeline-item {
    grid-template-columns: 10% 1fr;
    width: 100%;
  }

  .timeline-left {
    grid-area: 1 / 2 / 2 / 3;
    text-align: left;
  }

  .timeline-center {
    grid-area: 1 / 1 / 3 / 2;
    justify-content: flex-start;
  }

  .timeline-right {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}